.alert {
  min-width: 250px;
  border-radius: 4px;
  padding: 20px 20px;
  color: #fff;
  font-size: 18px;
  font-family: "Arial";
  cursor: pointer;
  background-color: #fff;
  color: #454857;
  border: 1px solid #eaeaea;
  position: absolute;
  box-shadow: 0 5px 28px 0 rgba(227, 227, 227, 1);
  z-index: 9999;
}

.alert-warning,
.alert-danger,
.alert-info,
.alert-success {
  color: #fff;
  border: none;
}

.alert-warning {
  background-color: #ffcd36;
}

.alert-danger {
  background-color: #ff2131;
}

.alert-info {
  background-color: #1fbfff;
}

.alert-success {
  background-color: #49cb61;
}

.alert-success::before {
  content: "\f058";
  font-family: FontAwesome;
  padding-right: 10px;
}

.alert-warning::before {
  content: "\f06a";
  font-family: FontAwesome;
  padding-right: 10px;
}

.alert-info::before {
  content: "\f05a";
  font-family: FontAwesome;
  padding-right: 10px;
}

.alert-danger::before {
  content: "\f057";
  font-family: FontAwesome;
  padding-right: 10px;
}

.alert span {
  margin-right: 10px;
}

.alert-top-left {
  top: 20px;
  left: 20px;
}

.alert-top-right {
  top: 20px;
  right: 20px;
}

.alert-bottom-left {
  bottom: 20px;
  left: 20px;
}

.alert-bottom-right {
  bottom: 20px;
  right: 20px;
}

.alert-fadeout {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 0.3s linear;
}
